Copyright (c) 2016#if($today.year > 2016)-$today.year#end EMC Corporation. All Rights Reserved.

Licensed under the EMC Software License Agreement for Free Software (the "License").
You may not use this file except in compliance with the License.
A copy of the License is located at

https://github.com/EMCECS/${project.name}/blob/master/LICENSE.txt